<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <title>Document</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'shop/css/styles.css' %}">
    </head>

    <body>
        <div class="layout">

        </div>
    </body>

</html>
<script>
    var cistella = JSON.parse(localStorage.getItem('cistella')) || []
    function showCistella(producte) {
                $('.layout').append(
                    `<div class="product" loading="lazy">
                    <img src="${producte.imatge}" alt="${producte.nom}">
                    <h2>${producte.nom}</h2>
                    <p>${producte.preu} €</p>
                    <p>${producte.quantitat_disponible} unitats</p>
                    <input type="button" value="Afegir a cistella">
                </div>`
                )
            }
    console.log(cistella)
</script>