body {
         background-color: white;
}

.layout {
         display: grid;
         grid-template-columns: 20% 20% 20% 20% 20%;
}

.product {
    background-color: lightblue;
    margin: 10px;
    padding: 10px;
    text-align: center;
    justify-content: justify;   
    border-radius: 10px;
}

